header.header 
    div.container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/p.jpg", alt="Logo" class="inner-logoi")

            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chu 
                        li 
                            a(href="/products") San pham 


//- dang hoc den bai 19 - 50:00



                            //- tương tự như sau 
//- <header class="header">
//-     <div class="container">
//-         <div class="row align-items-center">
//-             <div class="col-3">
//-                 <div class="inner-logo">
//-                     <a href="/">
//-                         <img src="/images/logo.svg" alt="Logo" class="inner-logoi">
//-                     </a>
//-                 </div>
//-             </div>
//-             <div class="col-9">
//-                 <div class="inner-menu">
//-                     <ul>
//-                         <li>
//-                             <a href="/">Trang chủ</a>
//-                         </li>
//-                         <li>
//-                             <a href="/products">Sản phẩm</a>
//-                         </li>
//-                     </ul>
//-                 </div>
//-             </div>
//-         </div>
//-     </div>
//- </header>
