.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: -1px;
    z-index: 999;
    border-bottom: 0px;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.body {
    display: flex;
    min-height: 100vh; /* 100vh = 100% chiều cao viewport */
    position: relative;
}

.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: auto;
    /* bỏ position: fixed, top, left */
    position: relative;
}

.body .main {
    flex: 1; /* flex: 1 là thuộc tính CSS dùng trong flexbox để chỉ định phần tử đó sẽ chiếm toàn bộ không gian còn lại của container (sau khi các phần tử khác đã chiếm diện tích của mình).*/
    margin: 15px;
    position: relative;
    width: auto;
    left: 0;
    box-sizing: border-box;
}





.sider .inner-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
}

[checkbox-multi] .td-button button {
    margin-left: .25rem !important;
}

/* show-alert */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 1000;
}
[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes alert-hidden {
    form {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}
/* end show-alert */








/* image preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}




/* close button */
.close-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


