extends ../../layouts/default.pug
block main  
        h1 Trang chu
//- khi ở bên layout là tạo khung thì ở bên này muốn sử dụng khung đó thì ta dùng extends và ở dưới gọi đến kiểu giá trị và tên biến là block main 
//- nó sẽ kiẻu như block main = h1 Trang chu, khi này ở bên layout nó sẽ tương tự như thay block main = h1 Trang chu
        