mixin form-delete-multi(path)
    form(
        action= path
        method="POST"
        data-form-delete-multi
    )
        .d-flex.align-items-start
            .mb-3.me-3
                input( class="d-none" type="text", name="id_delete_products", value="", placeholder="Nhập ID products" class="form-control")
            .mb-3
                button.btn.btn-primary(type="submit") Xóa vĩnh viễn