mixin form-change-multi(path)
    form(
        action= path
        method="POST"
        data-form-change-multi
    )
        .d-flex.align-items-start
            .mb-3.me-3
                select(name="type_statuss" class="form-control")
                    option(disabled selected) -- Chọn hành động --
                    option(value="active") Hoạt động
                    option(value="inactive") Dừng hoạt động
                    option(value="delete-all") Xóa
            .mb-3.me-3
                input( class="d-none" type="text", name="id_pproducts", value="", placeholder="Nhập ID products" class="form-control")
            .mb-3
                button.btn.btn-primary(type="submit") Áp dụng
    //- Quá trình này xảy ra tự động theo cách hoạt động tiêu chuẩn của HTML Form. Khi form được submit, dữ liệu của các phần tử trong form (các input, select có attribute name) sẽ được đóng gói thành dữ liệu gửi đi,
    //- Đúng vậy, nếu các thẻ <button>, <input>, <select> không nằm trong cùng một thẻ <form> thì khi submit, trình duyệt sẽ không đóng gói dữ liệu của chúng lại với nhau để gửi đi.
    //- một cách nữa thêm option có disabled và selected -- Chọn hành động -- và option xóa tất cả ở bài 23 28tech nodejs -> 45:00