header.header 
    .container-fluid 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/admin/dashboard") ADMIN - TỔNG QUAN 
            .col-9 
                div(class="text-right")
                    a(
                        href=`${prefixAdmin}/auths/logout`
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất