.sider
    .inner-menu 
        ul 
            li      
                a(href=`${prefixAdmin}/dashboard`) ADMIN 
            li 
                a(href=`${prefixAdmin}/products`) PRODUCTS ADMIN  
            li 
                a(href='/products') PRODUCTS CLIENT